.App {
  font-family: sans-serif;
  text-align: center;
}
.loading {
  animation: rotation 2.5s infinite linear;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}