@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
.App {
  font-family: sans-serif;
  text-align: center;
  font-family: 'Lilita One', cursive;
}
.loading {
  animation: rotation 2.5s infinite linear;
}
html {
  background: #6F53FD;
  user-select: none;
  overflow-y: scroll;
}
*::-webkit-scrollbar {
  background: transparent;
  width: 8px;
  height: 8px;
}
*::-webkit-scrollbar-thumb {
  background-color: #ff3f3f;
}