@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
.App {
  font-family: sans-serif;
  text-align: center;
  font-family: 'Lilita One', cursive;
}
.loading {
  animation: rotation 2.5s infinite linear;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}